<div class="container-fluid" id="masterContainer">
  <div id="searchContainer">
    <div class="row">
      
      <div class="col-sm-8 col-sm-offset-2">
        <h1 class="text-center">Ready to explore?</h1>
        <%= form_tag search_neighborhoods_path do %>
          <input id="headerSearchBar" name="query" placeholder="Search neighborhoods" type="text" autocomplete="off">
        <% end %>
      </div>
      
    </div>
  </div>
</div>




