<html>
<head>
</head>

<body>

  <%= form_tag search_neighborhoods_path do %>
    <input class="search full-width" id="searchbar" name="query" placeholder="Search neighborhoods" type="text" autocomplete="off">
  <% end %>


</body>


</html>