<h1 id="site_title">Welcome to MyChiCommunity!</h1>
  <%= form_tag search_neighborhoods_path do %>
    <input class="search full-width" id="searchbar" name="query" placeholder="Search neighborhoods" type="text" autocomplete="off">
  <% end %>

<div id="home_map"><img src="http://www.chibarproject.com/Images/neighborhood_map.png" /> </div>

<div id="home_map2"> </div>

