<div class="container-fluid">
  <div class="row" id="masterRow">

    <!--first half of screen-->
    <div class="col-sm-6" id="firstHalf">
      <div class="neighborhoods_list">
        <h3> Oops, that search term returned multiple neighborhoods.  Which of the below are you looking for? </h3>
        <ul>
          <% @neighborhoods.each do |neighborhood| %>
            <li class="neighborhood"> <a href= "/neighborhoods/<%= neighborhood.id %>"> <%= neighborhood.name %> </a> </li>
          <% end %>
        </ul>
      </div>


    </div>



  </div> <!--end of masterRow-->
</div> <!--end of container-->