<html>
<head>
</head>

<h2>Here users will be able to create a new neighborhood.</h2>
</h2>This is a placeholder page for the project's working version.</h2>

<body>

  <%= form_tag new_neighborhood_path do %>
    <input class="search full-width" id="searchbar" name="neighborhood_title" placeholder="Create a new neighborhood" type="text" autocomplete="off">
  <% end %>


</body>


</html>