<div class="container-fluid">
  <div class="row" id="masterRow">
    
    <!--first half of screen-->
    <div class="col-sm-6" id="firstHalf">
      <div class="neighborhood_show">
        <h3> <%= @neighborhood.name %> </h3>
        <ul>
          <% @neighborhood.groups.each do |group| %>
            <li class="group"> <%= group.name %> </li>
          <% end %>
        </ul>
      </div>
      
      
    </div>
    
    <!--second half of screen: used for google map display-->
    <div class="col-sm-6" id="secondHalf">
      <div id="map"></div>
      
      
      
      
    </div>
    
  </div> <!--end of masterRow-->
</div> <!--end of container-->




<!--js to render google map -->
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      // lat and lng are simple placeholders 
      center: {lat: 41.77, lng: -87.70},
      zoom: 15
    });
  }
</script>
<!--google maps api link -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9bgTM6mZMkfpii73l5lUwTHfMq8N2zos&callback=initMap" async defer></script>