/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);
@import 'https://fonts.googleapis.com/css?family=Fugaz+One';

/************* GENERAL STYLING *************/
body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  
}

/************* HEADER STYLING *************/ 
#headerContainer{
  background-color: #004C23;
  padding-bottom: 10px;
  height: 60px;
  -webkit-box-shadow: 0px 3px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 30px 0px rgba(0,0,0,0.75);
  z-index: 3;
  position: relative;
  
  #siteTitle{
    color: white;
    margin-top: 15px;
    #redCursive{
      font-family: 'Homemade Apple', cursive;
      color: #E0AF3C;
    }
    #betaTitle{
      font-family: 'Fugaz One', cursive;
      color: #5b90bb;
      font-size: 15px;
      position: absolute;
      margin-left: 9px;
    }
  }
  #actionContainer{
    padding: 0;
    
    a{
      margin: 7px 10px;
      color: white;
      
      &:hover{
        text-decoration: none;
      }
      
    }
    button{
      background-color: rgba(0,0,0,0.0);
      min-height: 50px;
      height: 8vh;
      border: none;
      
      &:hover{
        background-color: rgba(224,175,60,0.5);
      }
    }
    
  }
}

/************* INDEX CONTENT STYLING *************/ 
/*****Styling for views/neighborhoods/index.html.erb file ******/

#masterContainer{
  background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('chicago2.jpg');
  background-size: cover;
  background-position: 50% 20%;
  height: 94vh;
  
    
  #searchContainer{
    margin-top: 30vh;
    h1{
      margin-bottom: 16vh;
      
      color: white;
      font-size: 50px;
      
    }
    #headerSearchBar{
      padding-left: 15px;
      
      width: 100%;
      height: 40px;
      
      font-size: 24px;
      border-radius: 3px;
      
      &:focus{
        outline: none;
      }
      
    }
    
   
    
  }
    
  
}


