// Place all the styles related to the neighborhoods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/************* SHOW PAGE STYLING *************/

// EVENTS STYLING: FIRST HALF
#firstHalf{
  height: 91vh;
  padding: 0;
  #eventListHeader{
    color: #fff;
    background: #E0AF3C;
    padding: 5px;
    h3{
      margin-top: 10px;
    }
  }
  #eventListBody{
    height: 480px;
    padding-bottom: 20px;
    overflow-y: scroll;
    color: #343434;
    .eventContainer{
      padding: 20px 20px 0;
      
      ul{
        padding-left: 0;
  
        list-style-type: none;
        //first child is event title
        li:first-child{
          // color: #E0AF3C;
          font-size: 22px;
          margin-bottom: 10px;
          
        }
        //last child is event's additional contact info
        li:last-child{
          color: #5f5f5f;
          font-size: 13px;
        }
      }
      
    }
    #errorMessage{
      padding-top: 30px;
      color: #5d5c5d;
    }
  }
    
  
}
// BASIC MAP STYLING: SECOND HALF
#secondHalf{
    padding: 0;
    #map{
      height: 91vh;
      width: 100%;
    }
}
