////////////////////////////////////////////
//////// STYLING FOR SIGN IN PAGE //////////
////////////////////////////////////////////

#SignInMasterContainer{
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    color: white;
    #loginForm{
        margin-top: 20vh;
        padding-bottom: 25px;
        
        background-color: #919091;
        
        input{
            padding-left: 5px;
            
            color: black;
            &:focus{
                outline: none;
            }
        }
    }
}